---
Index:
  Background: Build

CompileFlags:
  Add: [-xc++, -Wall, -std=c++20]
  Compiler: clang++

Diagnostics:
  ClangTidy:
    Add: ["*"]
    Remove: [
        abseil*,
        fuchsia*,
        llvmlib*,
        zircon*,
        altera*,
        google-readability-todo,
        readability-braces-around-statements,
        hicpp-braces-around-statements,
        modernize-use-trailing-return-type, # 不要每个都加上尾返回值类型
        readability-identifier-length, # 不检查变量名长度
        cppcoreguidelines-avoid-magic-numbers, # 不检查魔法数字
        readability-magic-numbers, #同上
        readability-redundant-access-specifiers, # 关闭冗余访问说明符警告
        cppcoreguidelines-pro-type-reinterpret-cast, # 关闭 reinterpret_cast 警告
        cppcoreguidelines-pro-bounds-pointer-arithmetic, # 关闭指针算术警告
      ]
...